// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

header {
    background: #2a8641;
    background: -moz-linear-gradient(top,#2a8641 0,#016c4e 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2a8641),color-stop(100%,#016c4e));
    background: -webkit-linear-gradient(top,#2a8641 0,#016c4e 100%);
    background: -o-linear-gradient(top,#2a8641 0,#016c4e 100%);
    background: -ms-linear-gradient(top,#2a8641 0,#016c4e 100%);
    background: linear-gradient(top,#2a8641 0,#016c4e 100%);
    border-bottom: 4px solid #74AE27;
    padding:10px 0px;
    position: relative;
    z-index: 9998;
    color: #FFFFFF;
    display: block;
}

.readme{
     float:right;
     color: #fff;
}