<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Food Agency Ratings">
	<meta name="author" content="Marc Mills">
	<title>Food Agency Ratings</title>
	<script type="text/javascript" src='js/min/main.min.js'></script>
	<link href="styles/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="food-agency-ratings">

	<header class='row'>
		<div id="logo" class='container' >        
			<img src="http://food.gov.uk/assets/theme/img/logo.png" alt="Food Standards Agency">
		</header>

		<div class='container'>
			<h1>Food Hygiene Ratings</h1>
			<div ng-controller="authoritiesCtrl"> 
				<p ng-show='loadingAuth'><img src="images/ajax-loader.gif" /> Fetching authorities</p>
				<h3 ng-show='showError'>There seems to be an issue collecting the data, please try again later.</h3>
				<select class="form-control" ng-show='foundAuth' ng-options="authority as authority.Name for authority in authorities" 
				ng-model="authority" ng-change="update(authority)">
				<option value="">Select a local authority</option>
			</select>
		</div>

		<div ng-controller="establishmentsCtrl" > 
			<p ng-show='loading'><img src="images/ajax-loader.gif" /> Fetching ratings</p>
			<h3 ng-show='showError2'>There seems to be an issue collecting the data, please try again later.</h3>
			<div ng-show='have_establishments'>
				<h3>Total establishments found in <span>{{ local_authority }}</span>: {{ establishments_count }}</h3>
				<table class="table">
					<thead>
						<tr>
							<th>Rating</th>
							<th>Percentage</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="rating in ratings">
							<td>{{ rating.rating_key }}</td>
							<td>{{ rating.value/establishments_count*100 | number : 0 }}%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>